body {
    font-family: dancing, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}
header a:hover {
    color: #cccccc;
    font-weight: bold;
}
#showcase {
    min-height: 400px;
    background: url('assets/background.jpeg') no-repeat center center/cover;
    text-align: center;
    color: #ffffff; 
}
#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    font-family: Dancing, sans-serif;
}
#showcase p {
    font-size: 20px;
}
#blog-posts {
    margin-top: 20px;
}
.post {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.post h3 {
    margin-top: 0;
}
.post a {
    display: inline-block;
    background: #e8491d;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}
.post a:hover {
    background: #35424a;
}
footer {
    padding: 20px;
    background: #35424a;
    color: #ffffff;
    text-align: center;
}
@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        font-size: 40px;
    }
}